Repository prfdfd/monty: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-rs, lint-py, test

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--ignore-words-list", "crate,NotIn"]

  - repo: local
    hooks:
      - id: lint-rs
        name: Lint Rust
        entry: make lint-rs
        types: [rust]
        language: system
        pass_filenames: false
      - id: lint-py
        name: Lint Python
        entry: make lint-py
        types: [python]
        language: system
        pass_filenames: false
      - id: test
        name: Test
        entry: make test
        types: [rust]
        language: system
        pass_filenames: false

stop cloning objects (#14)
  CLAUDE.md
  Makefile
  benches/main.rs
  src/evaluate.rs
  src/heap.rs
  src/object.rs
  src/values/dict.rs
  src/values/list.rs
  src/values/py_value.rs
  src/values/tuple.rs
  test_cases/dict__get_default_same_dict.py
  test_cases/dict__getitem_self.py
  test_cases/refcount__dict_basic.py
  test_cases/refcount__dict_get.py
  test_cases/refcount__dict_overwrite.py
  test_cases/refcount__list_append_ref.py
  test_cases/refcount__list_concat.py
  test_cases/refcount__list_iadd.py
  test_cases/refcount__nested_list.py
Due: lint-rs, lint-py, test

add support for flamegraphs (#17)
  Cargo.lock
  Cargo.toml
  Makefile
  benches/main.rs
  plan-todo.md
Due: lint-rs, test

implement drop checks for dereferencing (#28)
  .github/workflows/ci.yml
  .zed/settings.json
  CLAUDE.md
  Cargo.toml
  Makefile
  plan-todo.md
  src/builtins.rs
  src/evaluate.rs
  src/exit.rs
  src/function.rs
  src/heap.rs
  src/lib.rs
  src/object.rs
  src/run.rs
  src/values/bytes.rs
  src/values/dict.rs
  src/values/list.rs
  src/values/py_value.rs
  src/values/str.rs
  src/values/tuple.rs
  test_cases/dict__get_unhashable_key.py
  test_cases/dict__literal_unhashable_key.py
  test_cases/dict__pop_unhashable_key.py
  test_cases/execute_raise__raise_list.py
  test_cases/id__int_copy_distinct.py
  test_cases/id__is_number_is_number.py
Due: lint-rs, lint-py, test

Cycle detection (#34)
  .claude/settings.json
  CLAUDE.md
  README.md
  benches/main.rs
  how-it-works.md
  plan-todo.md
  plan.md
  pyproject.toml
  src/bin.rs
  src/builtins.rs
  src/callable.rs
  src/evaluate.rs
  src/exceptions.rs
  src/fstring.rs
  src/function.rs
  src/heap.rs
  src/lib.rs
  src/namespace.rs
  src/object.rs
  src/parse_error.rs
  src/resource.rs
  src/run.rs
  src/value.rs
  src/values/bytes.rs
  src/values/dict.rs
  src/values/list.rs
  src/values/py_trait.rs
  src/values/str.rs
  src/values/tuple.rs
  test_cases/dict__pop_unhashable_key.py
  test_cases/refcount__cycle_mutual_reference.py
  test_cases/refcount__cycle_self_reference.py
  tests/datatest_runner.rs
  tests/inputs.rs
  tests/json_serde.rs
  tests/main.rs
  tests/resource_limits.rs
  tests/try_from.rs
Due: lint-rs, lint-py, test

Iter (#54)
  crates/monty/src/exceptions.rs
  crates/monty/src/for_iterator.rs
  crates/monty/src/lib.rs
  crates/monty/src/run_frame.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/list.rs
  crates/monty/src/types/tuple.rs
  crates/monty/test_cases/iter__dict_mutation.py
  crates/monty/test_cases/iter__for.py
  crates/monty/test_cases/iter__not_iterable.py
  crates/monty/test_cases/list__ops.py
  crates/monty/test_cases/tuple__ops.py
  pyproject.toml
Due: lint-rs, lint-py, test

Reuse namespaces (#70)
  crates/monty/benches/main.rs
  crates/monty/src/function.rs
  crates/monty/src/namespace.rs
  crates/monty/src/signature.rs
Due: lint-rs, test

fix fmt() called on disabled variant
  Cargo.toml
  Makefile
  crates/monty/src/types/type.rs
  crates/monty/test_cases/type__exception_attr_error.py
Due: lint-rs, lint-py, test

Tuple unpacking (#21)
  crates/monty/src/bytecode/compiler.rs
  crates/monty/src/bytecode/vm/collections.rs
  crates/monty/src/expressions.rs
  crates/monty/src/parse.rs
  crates/monty/src/prepare.rs
  crates/monty/test_cases/unpack__non_sequence.py
  crates/monty/test_cases/unpack__not_enough.py
  crates/monty/test_cases/unpack__ops.py
  crates/monty/test_cases/unpack__too_many.py
  pyproject.toml
Due: lint-rs, lint-py, test

String methods (#42)
  crates/monty/src/args.rs
  crates/monty/src/builtins/chr.rs
  crates/monty/src/bytecode/builder.rs
  crates/monty/src/bytecode/compiler.rs
  crates/monty/src/bytecode/op.rs
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/collections.rs
  crates/monty/src/bytecode/vm/format.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/exception_private.rs
  crates/monty/src/for_iterator.rs
  crates/monty/src/heap.rs
  crates/monty/src/intern.rs
  crates/monty/src/types/long_int.rs
  crates/monty/src/types/str.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/str__index_not_found.py
  crates/monty/test_cases/str__methods.py
  crates/monty/test_cases/str__partition_empty.py
  crates/monty/test_cases/str__rsplit_empty_sep.py
  crates/monty/test_cases/str__split_empty_sep.py
  crates/monty/tests/resource_limits.rs
  pyproject.toml
Due: lint-rs, lint-py, test

implement `while` loop (#61)
  crates/monty/src/bytecode/compiler.rs
  crates/monty/src/expressions.rs
  crates/monty/src/parse.rs
  crates/monty/src/prepare.rs
  crates/monty/test_cases/while__all.py
Due: lint-rs, lint-py, test

remove `func_return_values` from `namespace` (#70)
  crates/monty/src/namespace.rs
Due: lint-rs, test

Fix monty-js readme (#92)
  CLAUDE.md
  crates/monty-js/README.md
Due: none

Fix NPM release and bump version to 0.0.2 (#97)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/monty-js/.gitignore
  crates/monty-js/package.json
Due: none

add wasmer to alternatives in readme (#145)
  README.md
  scripts/startup_performance.py
Due: lint-py

add `aarch64-unknown-linux-gnu` (linux-arm64) JS binding target (#154)
  .github/workflows/ci.yml
  crates/monty-js/package.json
Due: none

convert files in `bytecode/vm` to `HeapGuard` (#166)
  crates/monty/src/bytecode/vm/async_exec.rs
  crates/monty/src/bytecode/vm/attr.rs
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/collections.rs
  crates/monty/src/bytecode/vm/compare.rs
  crates/monty/src/bytecode/vm/exceptions.rs
  crates/monty/src/bytecode/vm/format.rs
Due: lint-rs, test

implement calling of user-defined functions (#180)
  Cargo.lock
  crates/monty/Cargo.toml
  crates/monty/src/builtins/map.rs
  crates/monty/src/builtins/mod.rs
  crates/monty/src/builtins/sorted.rs
  crates/monty/src/bytecode/vm/async_exec.rs
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/exceptions.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/heap.rs
  crates/monty/src/lib.rs
  crates/monty/src/sorting.rs
  crates/monty/src/types/dataclass.rs
  crates/monty/src/types/list.rs
  crates/monty/src/types/module.rs
  crates/monty/src/types/path.rs
  crates/monty/src/types/py_trait.rs
  crates/monty/test_cases/builtin__map.py
  crates/monty/test_cases/builtin__more_iter_funcs.py
  crates/monty/test_cases/list__ops.py
  crates/monty/tests/resource_limits.rs
Due: lint-rs, lint-py, test
